* {
    box-sizing: border-box;
  }

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 15px;
    overflow-x: hidden;     /* so no horizonal scroll bar */
    /* margin-left: auto;
    margin-right: auto; */
    background-color: lightgray;
}

.header-container {
    height: 100vh;
    /* height: auto; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;

    /* position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto; */

}

.fullscreen-vid-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#background-vid {
    min-width: 100%; 
    min-height: 100%;
    /* min-height: auto; */
    /* opacity: .80; */
}

.header-overlay {
    height: 100vh;
    /* height: auto; */
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #2e2f3a;
    z-index: 1;
    opacity: .4;
}

.header-top {
    padding: 5px;
    z-index: 2;     /* So text displayed on top of video background  */
    width: 100%;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-piece {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
}

.logo-piece .name {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    margin-left: 10px;    
}

.menu {
    display: flex; 
    padding-right: 15px;
    padding-top: 0;
}

.menu .menu-text {
    margin-right: 10px;
    font-weight: bold;
}

.hamburger-menu div {
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 3px 0;
}

.menu:hover {
    color: lightgray;
    cursor: pointer;
}

.menu-items {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    z-index: 3;
    border: 1px solid white;
    border-radius: 7px;
    background-color: #2E2F3A;
    color: white;
    /* box-shadow: 1px 1px 2px white; */
}

.menu-items li {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.menu-items li:hover {
    color: lightgray;
    cursor: pointer;
}

.menu-items li:hover > .submenu-items {     /* prevent child element from parent's hover effect (offset) */
    color: black;
}

.menu-items li:last-child {
    border: 2px solid white;
    border-radius: 7px;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 20px;
}

.menu-items li:last-child:hover {
    border-color: lightgray;
}  

.arrow-down {
    width: 18px;
    margin-left: 10px;
    vertical-align: middle;
}

.submenu-items {
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-radius: 7px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 15px;
    font-weight: normal;
}

.submenu-items div {
    padding-bottom: 10px;
    /* text-shadow: 1px 1px 2px rgba(0,0,0,0.3); */
}

.submenu-items div:hover {
    color: #4abf4f;
    cursor: pointer;
}

h2 {
    z-index: 2;
    color: white;
    /* clear: left; */
}

/* mobile responsive */
@media screen and (min-width: 765px) {

    .logo {
        width: 50px;
    }
    
    .logo-piece .name {
        font-size: 30px;
        letter-spacing: 3px; 
    }

    .menu-items {
        display: flex;
        margin-top: 0;
        border-style: none;
        background-color: transparent;
        font-size: 18px;
        padding-right: 10px;
        float: right;
        align-items: flex-start;    /* So other list items down grow in height when submenu displays on 4th list item. */
    }                               /* Don't want hover effect on lists with lengthy height */
    

    .menu-items li {
        padding: 0;
    }

    .submenu-items {
        margin-top: 30px;
    }
}

@media screen and (min-width: 991px) {

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;    /* So logo does not move down when submenu displays */
    }
}