* {
    box-sizing: border-box;
  }

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    overflow-x: hidden;     
    margin-left: auto;
    margin-right: auto;
    color: white;
    line-height: 1.5;
}

.header-container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.fullscreen-vid-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#background-vid {
    min-width: 100%; 
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #393B48;
    z-index: 1;
    opacity: .4;
}

.header-top {
    padding: 5px;
    z-index: 2;     
    width: 100%;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo-piece {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
}

.logo-piece .name {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    margin-left: 5px;    
    padding-top: 0;
}

.menu {
    display: flex; 
    padding-top: 0;
}

.menu .menu-text {
    margin-right: 10px;
    font-weight: bold;
    position: relative;
    top: -2px;          
}

.hamburger-menu div {
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 3px 0;
}

.menu:hover {
    color: #49BF4E;
    cursor: pointer;
}

.menu-items {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    text-align: center;
    padding: 5px;
    border: 2px solid white;
    border-radius: 7px;
    background-color: #393B48;
    color: white;
    position: relative;     
    z-index: 1;
}

.menu-items li {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;       
}

.menu-items li:hover {
    color: #49BF4E;
    cursor: pointer;
}

.menu-items li:hover > .submenu-items {     
    color: #393B48;
}

.menu-items li:last-child {
    border: 2px solid white;
    border-radius: 7px;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 20px;
}

.menu-items li:last-child:hover {
    border-color: #49BF4E;
}  

.arrow-down {
    width: 18px;
    margin-left: 10px;
    vertical-align: middle;
}

.submenu-items {
    background-color: white;
    color: #393B48;
    border: 1px solid gray;
    border-radius: 7px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 15px;
    font-weight: normal;
}

.submenu-items div {
    padding-bottom: 10px;
    transition: 0.3s;
}

.submenu-items div:hover {
    color: #49BF4E;
    cursor: pointer;
}

.intro-sec {
    color: white;
    width: 99%;
    padding: 10px;
    text-align: center;
    top: 50%;               
    transform: translateY(-50%);
    position: absolute;     
    z-index: 1;
}

.intro-sec h1 {
    font-size: 26px;
}

.learn-button {
    font-weight: bold;
    width: 220px;
    padding: 10px 15px;
    text-align: center;
    background-color: #49BF4E;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: white;
    transition: 0.3s;
}

.learn-button:hover {
    cursor: pointer;
    background-color: #128D17;
    transition: 0.3s ease;
}

.stats-sec {
    background-color: #393B48;
    opacity: .99;
    padding: 5px 10px 15px;;
    -webkit-box-shadow: 0 -10px 15px #393B48;
    -moz-box-shadow: 0 -10px 15px #393B48;
    box-shadow: 0 -5px 10px #393B48;
}

.stats-sec h2 {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hideme {
    opacity: 0;
}

.icon-container {
    width: 30%;
    text-align: center;
}

.stats-icon {
    width: 45px;
    height: 45px;
    margin: 15px;
}

.stats-details {
    margin: 10px;
    width: 70%;
}

.stats-details h3 {
    margin-bottom: 0;
}

.stats-details p {
    opacity: .8;
}

.about-sec {
    color: #393B48;
    text-align: center;
    padding: 50px 20px;
}

.about-container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.about-sec h2{
    font-size: 28px;
}

.about-container > p {
    font-size: 18px;
}

.driver-image {
    max-height: auto;
    max-width: 100%;
    box-shadow: 1px 2px 4px #777;
}

.driver-img-caption {
    font-size: 14px;
    color: gray;
}

.divider {
    max-width: 70%;
    height: 0;
    border-top: 1px solid lightgray;
    font-size: 0;
    margin: 40px auto;
    opacity: .7;
}

.customer-list {
    color: #393B48;
    text-align: center;
    padding: 15px;
}

.customer-list h2 {
    font-size: 28px;
}

.customer-list p {
    font-size: 18px;
}

.company-list {
    color: lightgray;
    font-size: 32px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.company-list li {
    margin: 20px;
}

.company-1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.company-2 {
    font-family: 'Teko', sans-serif;
}

.company-3 {
    font-family: 'Passion One', cursive;
}

.company-4 {
    font-family: 'Rancho', cursive;
}

.company-5 {
    font-family: 'Teko', sans-serif;
}

.company-6 {
    font-family: 'Voltaire', sans-serif;
}

.company-slideshow {
    color: #393B48;
    text-align: center;
}

.company-slideshow h2 {
    font-size: 28px;
    margin: 15px;
}

.slideshow-container {
    display:flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.slideshow-container li > div:first-child {
    font-size: 34px;
}

.slideshow-container li {
    min-height: 410px;
    border: 1px solid lightgray;
    border-radius: 7px;
    background-color: #ECF0F0;
    padding: 25px;
    margin: 15px;
}

.slideshow-container .company-1 {
    color: #4682B4;
}

.slideshow-container .company-2 {
    color: #3CB371;
}

.slideshow-container .company-3 {
    color: #B22222;
}

.slideshow-container .company-4 {
    color: #1E578C;
}

.slideshow-container .company-5 {
    color: #BA7131;
}

.slideshow-container .company-6 {
    color: #55803D;
}

.slideshow-container p {
    font-size: 18px;
    font-style: italic;
    opacity: 0.75;
}

.name {
    font-weight: bold;
    padding-top: 15px;
}

.arrow {
    display: none;
    width: 35px;
    height: 35px;
    background-color: #ECF0F0;
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 8px;
    transition: 0.1s;
}

.arrow:hover {
    cursor: pointer;
    border-color: darkgray;
    border-width: 1px;
}

.left-arrow {   
    order: -3;
    margin-left: 15px;
}

.right-arrow {  
    order: 1;
    margin-right: 15px;
}

.circle-btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    background-color: #F0F1F4;
    border: 1px solid #CCD0D9;
    border-radius: 50%;
}

.circle-btn:hover {
    cursor: pointer;
    border-color: darkgray;
}

.selected-display {
    order: -2;
}

.selected-btn {
    background-color: black;
    border-color: black;
}

footer {
    margin-top: 60px;
}

.footer-background {
    text-align: center;
    background: url("images/hardware.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;     
}

.footer-overlay {
    background: #393B48;
    z-index: 1;
    opacity: .6;
    height: 100%;
    width: 100%;
    position: absolute;
}

.conclusion {
    position: relative;   
    z-index: 2;
    padding: 40px 15px;
    margin-left: auto;
    margin-right: auto;
}

.conclusion h2 {
    font-size: 28px;
}

.conclusion p {
    font-size: 20px;
}

.media {
    position: relative;
    z-index: 2;
    padding-bottom: 20px;   
}

.media h2 {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.media-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.media-list div {
    width: 280px;
    transition: 0.1s;
}

.media-list div:hover {
    cursor: pointer;
    color: lightgray;
}

.media-list h3 {
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.footer-links {
    background-color: #393B48;
    opacity: .99;
    -webkit-box-shadow: 0 -10px 15px #393B48;
    -moz-box-shadow: 0 -10px 15px #393B48;
    box-shadow: 0 -5px 10px #393B48;
}

.link-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 15px;
    font-weight: bold;
}

.link-list li {
    padding: 10px 15px;
    transition: 0.3s;
}

.link-list li:hover {
    cursor: pointer;
    color: #49BF4E;
}

.meta-list {
    font-size: 14px;
    color: lightgray;
    padding-top: 0;
    padding-bottom: 0;
}

.meta-list li {
    transition: 0.3s;
}

.meta-list li:hover {
    cursor: pointer;
    color: #49BF4E;
}

.social-list {
    padding-top: 0;
}

.social-list li {
    margin-left: 10px;
    margin-right: 10px;
}

.social-icon {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 20%;
    padding: 6px;
    transition: 0.3s;
}

.social-icon:hover {
    background-color: white;
    border-color: white;
}

.authors {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    padding: 20px;
}

.authors a {
    color: white;
    transition: 0.2s;
}

.authors a:hover {
    color: lightgray;
}

/* ----------------------------------------------------------------------------------------- */
/* mobile responsive */

@media screen and (min-width: 425px) {
    
    .slideshow-container li {
        min-height: 350px;
    }

    .media-list div {
        width: 320px;
    }
}

@media screen and (min-width: 520px) {
    .driver-image {
        max-width: 481px;
    }

    .slideshow-container li {
        min-height: 330px;
    }

    .media-list div {
        width: 380px;
    }
}

@media screen and (min-width: 580px) {

    .media-list div {
        width: 260px;
        padding: 20px;
    }

    .media-list h3 {
        font-size: 38px;
    }
}

@media screen and (min-width: 765px) {

    .logo {
        width: 50px;
    }
    
    .logo-piece .name {
        font-size: 30px;
        letter-spacing: 3px; 
    }

    .menu-items {
        display: flex;
        border-style: none;
        background-color: transparent;
        font-size: 18px;
        padding-top: 15px;
        padding-right: 10px;
        float: right;
        align-items: flex-start; 
    }                      
    

    .menu-items li {
        padding: 0;
    }

    .submenu-items {
        margin-top: 30px;
    }

    .intro-descr { 
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .intro-sec h1 {
        font-size: 36px;
        max-width: 40%;
        margin: 10px;
        text-align: center;
    }

    .intro-sec p {
        font-size: 20px;
        max-width: 30%;
        margin: 10px;
        text-align: left;
    }

    .learn-button {
        margin-top: 40px;
    }

    .stats-sec h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .stats-all {
        display: flex;
        justify-content: center;
    }

    .stats-container {
        flex-direction: column;
        width: 33%;
        justify-content: flex-start;
    }

    .stats-details {
        text-align: center;
    }

    .stats-details h3 {
        font-size: 24px;
    }
    
    .stats-details p {
        font-size: 18px;
    }

    .about-container {
        max-width: 75%;
    }

    .company-list {
        font-size: 38px;
    }

    .arrow {
        display: inline-block;
    }

    .slideshow-container li {
        min-height: 310px;
    }

    .conclusion {
        max-width: 75%;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .media {
        padding-bottom: 60px;
    }

    .footer-links {
        padding-top: 30px;
    }
}

@media screen and (min-width: 991px) {

    .menu-container {
        width: 100%;
    }

    .intro-sec h1 {
        max-width: 35%;
    }

    .intro-sec p {
        max-width: 25%;
    }

    .driver-image {
        max-height: 306px;
    }

    .company-slideshow {
        margin-left: 100px;
        margin-right: 100px;
    }

    .slideshow-container {
        overflow: hidden;
    }

    .slideshow-container li {
        min-height: 440px;
        min-width: 40.5%;
    }
    
    .right-arrow {  
        order: -1;
    }

    .comp1-container, .comp2-container {
        order: -2;
    }
}

@media screen and (min-width: 1008px) {
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;    
    }

    .slideshow-container li {
        min-width: 41%;
    }
}

@media screen and (min-width: 1135px) {
    .slideshow-container li {
        min-height: 380px;
        min-width: 42%;
    }
}

@media screen and (min-width: 1255px) {
    .slideshow-container li {
        min-width: 43%;
    }
}

@media screen and (min-width: 1410px) {
    .slideshow-container li {
        min-height: 340px;
        min-width: 44%;
    }
}

@media screen and (min-width: 1620px) {
    .slideshow-container li {
        min-height: 310px;
        min-width: 45%;
    }
}

@media screen and (min-width: 1910px) {
    .slideshow-container li {
        min-width: 45.5%;
    }
}

@media screen and (min-width: 2105px) {
    .slideshow-container li {
        min-width: 46%;
    }
}

@media screen and (min-width: 2350px) {
    .slideshow-container li {
        min-width: 46.5%;
    }
}